*{
    border: 0;
    padding: 0;
}
/* div{
    background-color: blueviolet;
    border: black;
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-left: 35% ;
    margin-top: 10%;
} */
 body{
    background-image: url(https://images.unsplash.com/photo-1649336320659-f9f8da5ee1ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: none;
    background-size: cover;
 }
.Main{
    margin: 300px 600px;
    height: 430px;
    width: 350px;
    padding: 10px;
    background-color: hwb(252 50% 24%);
    background-position: center;
    margin-left: 35% ;
    margin-top: 10%;
}
.Main h3{
    text-align: center;
}
.a,.b,.c,.d{
    margin: 5px 10px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
}
.checkbox{
    margin: 0 0 0 40px;
    color: chocolate;
}
button{
    background-color: aquamarine;
    margin: 7px 5px;
    height: 30px;
    width: 60px;
    margin-left: 120px;
    
}